[Unit]
Description=Grobot main system file
After=multi-user.target
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
RuntimeDirectory=grobot_runtime
WorkingDirectory=/run/grobot_runtime
User=grobot
ExecStart=/home/grobot/adapi/bin/python -u /mnt/grobotextdat/code/main.py
Restart=always
RestartSec=5
Nice=-20

[Install]
WantedBy=multi-user.target
