[Unit]
Description=Grobot main system file
After=multi-user.target

[Service]
WorkingDirectory=/mnt/grobotextdat/code
ExecStart=/home/grobot/adapi/bin/python /mnt/grobotextdat/code/main.py
Restart=always
RestartSec=2s
Nice=-20

[Install]
WantedBy=multi-user.target